/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/04/2017, 23:47:00
    Author     : everton
*/

@import "comum/_mixins.scss";
@import "comum/_main.scss";
@import "comum/_reset.scss";

.container-main{
    img.fundo{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin: auto auto;
    }
    .box-inputs{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 500px;
        height: 530px;
        margin: auto;
        z-index: 1;
        background: $azul;
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
            0 1px 5px 0 rgba(0,0,0,0.12), 
            0 3px 1px -2px rgba(0,0,0,0.2);
        padding: 40px;
        color: $branco;
        background-color: rgba(27,59,96,.8);
        .logo{
            width: 100%;

            img{
                width: 100%;
                margin-bottom: 15px;
            }
        }
        form{
            padding: 10px 5px;
            position: relative;
            div.input-field{
                input{
                    height: 40px;
                }
                label{
                    color: $branco;
                    top: -0.1rem;
                }
            }
        }
        button{
            width: 100%;
            background: $vermelho;
            &:hover{
                background: $vermelhoLight;
            }
        }

        p{
            text-align: center;
            a{
                color: $branco;
            }
        }

    }
}