/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/04/2017, 17:30:52
    Author     : everton
*/

@import "comum/_mixins.scss";
@import "comum/_main.scss";
@import "comum/_card.scss";
@import "comum/_table.scss";
@import "comum/_buttons.scss";
@import "comum/_reset.scss";

/*Programar o css Aqui!!*/

.main{
    /* Essa classe é do materialize*/
    
    .btn.todas-vendas{
        width: 100%;
        height: 105px;
        padding: 10px 20px;
        @include buttonInverte($branco, $azul);
        i.fa-tags{
            font-size: 50px;
        }
        &:after{
            content: "TODAS AS VENDAS";
            display: block;
        }
    }
    /* Essa classe é do materialize*/
    .select-wrapper{
        color:$cinza;
        span.caret{
            color: $azul;
            font-size: 20px;
        }
    }
    
    .box-data{
        label{
            font-size: 14px;
            
        }
        /* Essa classe é do materialize*/
        .datepicker{
            height: 2.5rem;
            color: $azul;
        }
    }
    .btn-gerar-pdf{
        @include buttonInverte($branco, $vermelho);
        padding: 10px 10px;
        box-sizing: border-box;
    }
    .tabela-detalhes-venda{
        margin-bottom: 10px;
    }
}