/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2017, 12:04:53
    Author     : everton
*/

table:not(picker__table){

    td, th{
        padding-left: 10px;
    } 
    tr{
        font-size: 12px;
        color: $azul;
        th{
            text-transform: uppercase;
            font-weight: 600;
        }
        td{
            font-weight: 300;
        }
    }

}
.horizontal{

    thead{
        tr:first-of-type{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        tr:last-of-type{
            border-bottom: none;
            td:nth-of-type(2){
                border-left: none;
            }
        }
    }
    tr{
        td, th{
            text-align: center;
            border-left: solid 1px $cinzaBorda;
        }
        border-bottom: solid 1px $cinzaBorda;  
        td:first-of-type,th:first-of-type{
            border-left: none;
        }
    }
}
.vertical{
    tr{
        font-size: 14px;
        th{
            width: 25%;
            border-right: 1px solid $cinzaBorda;
            text-align: right;
            padding-right: 10px;
        }
        td{
           text-align: left;
        }
    }
}
